.containerTabla {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
    background: #7EA5F1; 
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f9f9f9;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.unqualified {
    background-color: #ff4d4d;
}
.negotiation {
    background-color: #ffa500;
}
.qualified {
    background-color: #4CAF50;
}